/*breakpoints*/

/*tablet*/

@media screen and (max-width: 1024px) {
    /* Add your tablet-specific styles here */

    ul.filebird-block-filebird-gallery.wp-block-gallery li {
        max-width: calc(50% - 1em);
        width: calc(50% - 1em)!important;
        /* Tablet: 2 per row */
    }

    .bd_teaser_slider .slick-arrow {
        display: none!important;
    }

}

/*tablet END*/

/*mobile*/

@media screen and (max-width: 768px) {
    /* Add your mobile-specific styles here */

    ul.filebird-block-filebird-gallery.wp-block-gallery li {
        max-width: 100%;
        width: 100%!important;
        /* Mobile: 1 per row */
    }

    .bd_teaser_slider .slick-arrow {
        display: none!important;
    }

}

/*mobile END*/

/*desktop*/
/*desktop END*/

/*large desktop*/
/*large desktop END*/

/*breakpoints END*/