/* bewegungskinder-styles */

/* Navigation Styles - Shrink on Scroll */

header.container.py-3 {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 !important;
    background-color: var(--primary-color-light);
    position: fixed;
    z-index: 1000;
    transition: padding var(--transition-m),
        height var(--transition-m);
}

/* Top Nav */
header.container.py-3 .top-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 10px var(--menu-padding);
    background-color: var(--primary-color-dark);
    border-bottom: 8px solid var(--primary-color);
    height: 60px;
    /* original height */
    transition: height var(--transition-m),
        padding var(--transition-m);
    z-index: 9999;
}

/* Main Navbar */
nav.navbar {
    transition: padding var(--transition-m);
    padding: 10px var(--menu-padding);
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.15);
}

.navbar-brand img {
    width: auto;
    height: 50px;
    /* original logo height */
}

/* Menu Items */
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    color: var(--primary-color-dark);
    transition: color var(--transition-s),
        transform var(--transition-s);
}

nav ul li a:hover {
    color: var(--primary-color);
    transform: scale(1.05);
    text-decoration: none;
}

/* Font Awesome social links */
.fb-link a,
.ig-link a {
    display: block;
    overflow: hidden;
    color: var(--text-color-on-background);
    font-weight: var(--font-weight-base);
    text-align: center;
    font-size: 0;
}

.fb-link a::before {
    content: "\f082";
    display: inline-block;
    font-family: 'Font Awesome 7 Brands';
    font-size: 20px;
    padding-right: 15px;
    border-right: solid 1px var(--text-color-on-background);
}

.ig-link a::before {
    content: "\f16d";
    display: inline-block;
    font-family: 'Font Awesome 7 Brands';
    font-size: 20px;
}

/* Login links */

.login-links-nav a {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-base);
    color: var(--text-color-on-background);
    padding-left: 10px;
}

/* Shrinked state */
header.container.py-3.scrolled .top-nav {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.login-btn a::before {
    display: inline-block;
    font-family: "Font Awesome 7 Free";
    font-size: 15px;
    font-weight: 900;
    content: "\f023";
    padding-right: 8px;
}

.register-btn a::before {
    display: inline-block;
    font-family: "Font Awesome 7 Free";
    font-size: 15px;
    content: "\f007";
    padding-left: 15px;
    padding-right: 8px;
    border-left: solid 1px var(--text-color-on-background);
}

header.container.py-3.scrolled .navbar {
    padding: 5px var(--menu-padding);
}

header.container.py-3.scrolled .navbar ul li a {
    font-size: var(--font-size-sm);
}

header.container.py-3.scrolled .navbar-brand img {
    height: 35px;
    /* smaller logo */
}

/* Fade social & login links on shrink */
header.container.py-3 .login-links-nav a,
header.container.py-3 .social-links-nav a {
    transition: opacity var(--transition-m);
    opacity: 1;
}

header.container.py-3.scrolled .login-links-nav a,
header.container.py-3.scrolled .social-links-nav a {
    opacity: 0;
    /* fade out when scrolled */
}


/* Navigation Styles END */

/* Hero Slider Styles */

.wp-block-uagb-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90dvh;
    margin-top: 110px;

}

.wp-block-uagb-slider .uagb-ifb-title-prefix {
    font-size: var(--font-size-md);
    color: var(--text-color-on-background);
    font-weight: var(--font-weight-bold);
    letter-spacing: 1.5px;
}

.uagb-ifb-title {
    font-size: var(--font-size-xl);
    text-transform: uppercase;
    line-height: var(--line-height-sm3);
    color: var(--primary-color);
    font-weight: var(--font-weight-base);
    -webkit-text-stroke: 1px var(--text-color-on-background);
    text-shadow: 0 0 var(--color-base-neutral-900);
}

.uagb-infobox-cta-link>svg {
    margin: 0;
    transform: scale(1.7) rotate(90deg);
    fill: var(--text-color-on-background);
    transition: fill var(--transition-m), transform var(--transition-m);
}

.uagb-infobox-cta-link>svg:hover {
    fill: var(--primary-color);
    transform: scale(1.7) rotate(90deg) translateX(5px);
}

.uagb-slider-container .swiper-button-prev,
.uagb-slider-container .swiper-button-next {
    background: none;
    padding: 0 100px;
}

.uagb-slider-container .swiper-button-prev::after,
.uagb-slider-container .swiper-button-next::after {
    font-family: 'Font Awesome 7 Free';
    font-size: 50px !important;
    font-weight: 900;
    color: var(--primary-color);
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0 0 var(--color-base-neutral-900);
}

.swiper-button-next:after {
    content: '\f054';
}

.swiper-button-prev:after {
    content: '\f053';
}

.wp-block-uagb-post-carousel.uagb-slick-carousel.is-carousel.slick-slider p {
    padding: 0;
}

/* Hero Slider Styles END */

/* Gallery Styles */

ul.filebird-block-filebird-gallery.wp-block-gallery {
    padding: 0 var(--container-padding) !important;
    justify-content: center;
}

ul.filebird-block-filebird-gallery li figure {
    justify-content: center !important;
}

ul.filebird-block-filebird-gallery.wp-block-gallery li {
    width: calc(33.33% - .66667em);
}

.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item img {
    border-radius: 50%;
    object-fit: cover;
    width: var(--img-size);
    aspect-ratio: 1/1;
    border: 5px solid var(--primary-color);
}

ul.filebird-block-filebird-gallery.wp-block-gallery li:nth-child(n+4) {
    display: none;
}

/* Gallery Styles END */

/* Single Image Styles */

main .wp-block-image img {
    width: var(--img-size);
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
    transition: transform var(--transition-m);
}

img:hover {
    transform: scale(1.05);
    transition: transform var(--transition-m);
}

/* Single Image Styles END */

/* Teaser Slider Styles */

.bd_teaser_slider.wp-block-uagb-post-carousel {
    background-color: var(--primary-color-light);
    margin: 0 5vw;
    width: calc(90vw) !important;
    border-radius: var(--radius-xxl);
    padding-top: var(--space-xl);
    transition: background-color var(--transition-l);
}

.bd_teaser_slider .slick-list.draggable {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
}

.bd_teaser_slider article {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent !important;
}

/* Shared arrow base */
.bd_teaser_slider .slick-arrow {
    width: 30px;
    height: 50px;
    padding: 0 !important;
    background-color: var(--primary-color, #fff) !important;
    border: none !important;
    overflow: visible;
    opacity: 1 !important;
}

/* LEFT arrow */
.bd_teaser_slider .slick-prev {
    mask-image: url('/wp-content/themes/borielblank_child/assets/icons/bd_arrow_left.svg');
    -webkit-mask-image: url('/wp-content/themes/borielblank_child/assets/icons/bd_arrow_left.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    margin: auto 0;
    position: relative;
    top: 25px;
    left: var(--space-xxl) !important;
    transition: transform var(--transition-m);
}

.bd_teaser_slider .slick-prev:hover {
    transform: scale(1.1) translateY(-22px);
}

/* RIGHT arrow = same SVG, rotated */
.bd_teaser_slider .slick-next {
    mask-image: url('/wp-content/themes/borielblank_child/assets/icons/bd_arrow_left.svg');
    -webkit-mask-image: url('/wp-content/themes/borielblank_child/assets/icons/bd_arrow_left.svg');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    margin: auto 0;
    position: relative;
    top: 25px;
    right: var(--space-xxl) !important;
    transform: rotate(180deg) translateY(35px);
    transition: transform var(--transition-m);
}

.bd_teaser_slider .slick-next:hover {
    transform: rotate(180deg) scale(1.1) translateY(33px);
}

/* Hide Spectra’s built-in SVG */
.bd_teaser_slider .slick-arrow svg {
    display: none !important;
}

.bd_teaser_slider .uagb-post__image {
    position: relative;
    max-width: 350px;
    width: 100%;
    aspect-ratio: 3 / 4;
    padding: 0;
    border-radius: var(--radius-lg);
    border: 5px solid var(--primary-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.bd_teaser_slider .uagb-post__image img {
    object-fit: cover;
    height: 100%;
    transition: transform var(--transition-m), filter var(--transition-m);
}

.bd_teaser_slider article:hover img {
    transform: scale(1.2);
    filter: brightness(60%) blur(1px);
}

.bd_teaser_slider .uagb-post__title {
    position: absolute;
    width: var(--img-size-xl);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    bottom: 40px;
    color: var(--text-color-on-background);
    transition: bottom var(--transition-s);
}

.bd_teaser_slider article:hover .uagb-post__title {
    bottom: 70%;
}

.bd_teaser_slider .uagb-post__excerpt {
    opacity: 0;
    width: var(--img-size-xl);
    pointer-events: none;
    padding: 0 20px;
    position: absolute;
    color: #fff;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-light);
    bottom: 35%;
    transition: opacity var(--transition-l), bottom var(--transition-l);
}

.bd_teaser_slider article:hover .uagb-post__excerpt {
    opacity: 1;
    pointer-events: auto;
    bottom: 50%;
}

.bd_teaser_slider .uagb-post__excerpt p {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bd_teaser_slider .uagb-post__cta {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    bottom: 10%;
    transition: opacity var(--transition-m), bottom var(--transition-m);
}

.bd_teaser_slider article:hover .uagb-post__cta {
    opacity: 1;
    pointer-events: auto;
    bottom: 15%;
}

.bd_teaser_slider .uagb-post__cta a {
    display: block;
    position: relative;
    background-color: var(--primary-color);
    color: var(--text-color-on-background);
    padding: 10px 20px;
    border-radius: var(--radius-xxl);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    transition: background-color var(--transition-m), transform var(--transition-m);
}

.bd_teaser_slider .uagb-post__cta a:hover {
    background-color: var(--primary-color-dark);
    transform: scale(1.1);
}

.bd_teaser_slider .uagb-post__image::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 80%);
}

/* Teaser Slider Styles END */

/* Swiper Bullets - Global */

div.wp-block-uagb-slider>.swiper-pagination-bullets>span.swiper-pagination-bullet {
    background: var(--color-base-neutral-200);
    opacity: 0.8;
    filter: drop-shadow(0 0 4px var(--drop-shadow-color-dark));
    transition: background var(--transition-m), opacity var(--transition-m);
}

div.wp-block-uagb-slider>.swiper-pagination-bullets>span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--primary-color);
    opacity: 1;
    transition: background var(--transition-m), opacity var(--transition-m);
}

.uagb-slick-carousel>.slick-dots>li button::before {
    color: var(--color-base-neutral-200) !important;
    opacity: 0.8 !important;
    filter: drop-shadow(0 0 2px var(--drop-shadow-color-dark));
    transition: color var(--transition-m), opacity var(--transition-m);
}

.uagb-slick-carousel>.slick-dots>li.slick-active button::before {
    color: var(--primary-color) !important;
    opacity: 1 !important;
    transition: color var(--transition-m), opacity var(--transition-m);
}

/* Swiper Bullets - Global END*/

/*Content Styles*/

.lead {
    display: none;
}

.wp-block-separator {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: var(--color-support-blue);
    border-top: solid 4px;
    border-radius: 4px;

}

article h1 {
    font-family: var(--font-secondary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-md);
    color: var(--text-title-color);
    text-transform: uppercase;
    text-align: center;
}

article h1 mark {
    background-color: transparent;
    color: var(--color-base-neutral-900) !important;
    text-transform: none;
    font-family: var(--font-primary);
    font-size: calc(var(--font-size-xxl) - 10px);
    font-weight: var(--font-weight-bold);
}

article h1 strong {
    display: block;
    position: absolute;
    left: -9999px;
}

.wp-block-group {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

body .is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/* Content Styles END */

/* Footer Styles */

footer {
    background-color: var(--secondary-color-dark);
    border-radius: 50px 50px 0 0;
}

footer a, footer p {
    color: var(--text-color-on-background);
}

footer .wp-block-image img {
    width: 100%;
    padding: 0;
}

.bd_footer_links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px 50px 0 0;
    box-shadow: 0 0 8px var(--secondary-color-dark);
    background-color: var(--color-support-blue);
    padding: 50px var(--container-padding);
    position: relative;
    top: -30px;
}

.bd_footer_links a, .bd_footer_links p {
    color: var(--secondary-color-dark);
}

.bd_footer_menu_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: unset;
    width: 100%;
}

.bd_footer_menu_wrapper div:first-child {
    display: flex;
    gap:unset;
    font-weight: var(--font-weight-bold);
}

.bd_footer_menu_wrapper div:first-child p {
    color: var(--text-title-color)
}

.bd_footer_menu_wrapper div:first-child a {
    font-weight: var(--font-weight-base);
}

.bd_footer_menu_wrapper div:first-child figure {
    padding-bottom: 30px;
}

.bd_footer_menu_wrapper div.wp-classic-menu-block ul  {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.bd_copyright_wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 var(--container-padding);
}

.bd_copyright {
    opacity: .5;
}

.bd_tribute {
    display: block;
    transform: scale(0.8);
    opacity: .5;
    text-align: right;
}

.bd_tribute p {
    text-decoration: none;
}

.bd_tribute img {
    padding-left: 5px;
    height: auto;
    width: 50px;
}

footer .wp-classic-menu-block>.menu li {
    padding: 0;
}

footer .ig-link a {
    text-decoration: none;
}
    
footer .ig-link a::before {
    display: block;
    padding-left: 8px;
}


/* Footer Styles END */

/* bewegungskinder-styles END */