/* CSS Document */

.slide_desc {
    color: #ffffff !important;
}

.slide_text_shadow {
    text-shadow: 1px 1px 1px #333333;
}

/***
Slider
***/
.slider-main {
    z-index: 1;
    position: relative;
    border-bottom: solid 1px #eee;
    max-height: 450px !important;
    overflow: hidden;
    margin-bottom: 10px;
}

.slide_title_white {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.slide_title_white_bold {
    font-weight: 400;
}

.slide_subtitle_white {
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.slider-colored {
    z-index: 1;
    height: 495px !important;
    position: relative;
    border-top: solid 1px #eee;
    border-bottom: solid 1px #eee;
}

.slide_title, .slide_subtitle, .slide_desc, .slide_btn {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.slide_title {
    font-family: 'Open Sans';
    font-weight: 300;
    color: #3f5862;
    text-transform: uppercase;
    font-size: 30px;
}

.slide_subtitle {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: #0088cc;
    padding: 5px !important;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 18px;
}

.tp-bullets {
    bottom: -20px !important;
}

@media (min-width: 768px) {
    .slide_subtitle {
        padding: 10px !important;
    }
}

@media (min-width: 1024px) {
    .slide_subtitle {
        padding: 20px !important;
    }
}

.slide_list_item {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: #0088cc;
    padding: 5px;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 14px;
}

.slide_desc {
    color: #7b8793;
    font-size: 14px;
    line-height: 24px;
}

.slide_desc_bordered {
    border-left: 3px solid #ddd !important;
    padding-left: 5px;
}

.slide_btn {
    font-family: 'Open Sans';
    font-weight: 300;
    padding: 7px 15px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
}