/* Styles to be changed in editor directly */

.pre-header {
    background-color: var(--prim-color-lila);
}

.pre-header a {
    color: var(--sec-color-himbeere-jogurt);
}

.header {
    background-color: var(--sec-color-himbeere-jogurt);
}

/* Styles to be changed in editor directly END */

/* ========================================== */

/* Styles to import via custom Styles Field in Kutego Platform */

:root {
    --prim-color-lila: #7F0B59;
    --prim-color-polizei-blau: #4B58FF;
    --prim-color: #4B58FF;
    --sec-color-himbeere-jogurt: #FFDEF4;
    --sec-color: #6c757d;
    --sec-color-dunkel-blau: #040F9A;
    --sec-color-schlumpfeis: #E1E3FF;
    --sec-colo-blumengelb: #F3C815;
    --sec-color-sonnenschein: #FEFCAE;
    --fliesstext-color: #73738F;
    --acc-color-magenta: #F914A5;
    --prim-font: chauncy-pro, sans-serif;
    --sec-font: duper, sans-serif;
}

html, body {
    font-family: var(--sec-font)!important;
    font-size: 16px!important;
    color: var(--fliesstext-color);
}

h1 {
    font-family: var(--prim-font);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

p {
    font-family: var(--sec-font);
    font-size: 1.5rem;
    color: var(--fliesstext-color);
}

.header .header-navigation {
    font-family: var(--sec-font);
    font-size: 1rem;
}

/* Styles to import via custom Styles Field in Kutego Platform END */