/*
Theme Name: borielblank_child
Template: borielblank
Theme URI: https://www.boriel-designs.com
Description: A custom child theme for borielblank.
Author: Dalibor Durbas
Author URI: https://www.boriel-designs.com
Version: 1.0.0
*/

